{% extends "default/index.html.jinja2" %}

{% block title %}Certbot Deployer{% endblock %}

{% block nav %}
    <img src="https://raw.githubusercontent.com/theias/certbot_deployer/refs/heads/main/docs/logo.png" class="logo" alt="project logo"/>
    <input type="search" placeholder="Search..." role="searchbox" aria-label="search"
                   pattern=".+" required>
    {{ super() }}
{% endblock %}

{% block content %}
    <main class="pdoc">

    {% filter to_html %}
# Certbot Deployer

<p align="center">
  <img src="https://raw.githubusercontent.com/theias/certbot_deployer/refs/heads/main/docs/logo.png" />
</p>
Certbot Deployer is a pluggable deploy hook framework for [Certbot] that streamlines the process of deploying certificates managed by Certbot.

The `certbot_deployer` package supports two primary use cases:

* Command-line usage: `certbot_deployer` is intended to be run as a deploy hook launched by Certbot in order to deploy the certificates to arbitrary endpoints e.g. appliances, external machines, etc.
* Plugin development: the library interface is used to build custom deployment plugins
<p>
  [<a href="https://github.com/theias/certbot_deployer">Source Code Repository</a>]
</p>

## Available Modules

* [certbot_deployer.deployer](certbot_deployer/deployer.html)
* [certbot_deployer.test_helpers](tests/helpers.html)
    {% endfilter %}

    </main>
    {% include "search.html.jinja2" %}
{% endblock %}
